#paper {
  width: 30rem;
  margin-top: 0.3rem;
  padding: 0.5rem;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
#textfield {
  width: 5rem;
  height: 1rem;
}
#button {
  text-align: center;
}
#caption {
  display: flex;
  justify-content: space-around;
}
.User {
  background-color: lightslategray;
  width: 20%;
  border-radius: 5rem;
}
.Admin {
  background-color: lightslategray;
  width: 20%;
  border-radius: 5rem;
}
