#paper {
  width: 30rem;
  margin-top: 0.3rem;
  padding: 0.5rem;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
#textfield {
  width: 5rem;
  height: 1rem;
}
#signbutton {
  text-align: center;
}
